# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# DB / Media / Logs
*.sqlite3
*.db
media/
*.pdf
*.log

# Static content (폰트 등)
static/fonts/

# Secrets / 환경설정
*.env

# macOS
.DS_Store

# VSCode
.vscode/
